@charset "UTF-8";
/*CSS Document */

.red_color_boxing h2{
    color: red;
}

.green_color_boxing p{
    color: green;
    font-size: 16px;
}
.boxing h2{
   color: grey ;
}

.boxing p{
    font-size: 14px;;
 }
